<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gthauth" value="70cc8216843131458601b3f85a9cb7420079f9a5"/>
    <add key="conncapcoin" value="Server=localhost;Database=CAPCOIN;User Id=sa;Password=chvack;Connection Timeout=680"/>
    <add key="conncryptoanlz" value="Server=localhost;Database=cryptoanlz;User Id=sa;Password=chvack;Connection Timeout=680"/>
    <add key="cryptoanlz" value="conncryptoanlz"/>
    <add key="capcoin" value="conncapcoin"/>
    <add key="wcindex" value="MW7vUdKkdUJpY5kRTHMLR0j4Qa9lDi"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>